/* Dashboard */
body {
    background: #eee;
}

#add {
    width: 180px;
    margin: 25px;
}

#stdEXL {
    height: 35px;
    width: 120%;
    margin-left: -50px;

}


.card-body {
    padding-left: 39.7%;
    align-items: center;
    align-content: center;
    box-shadow: 10px 20px 27px 0 rgb(0 0 0 / 5%);
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 1rem;


}

.btn {
    margin-right: 50%;
}

.avatar {
    width: 3rem;
    height: 3rem;
}

@media only screen and (min-width: 400px) {}

@media only screen and (min-width: 250px) {}