:root{
    --nummberOfRepeatCards:4;
}
.cards {
    display: grid;
    grid-template-columns: repeat(var(--nummberOfRepeatCards), 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 6%;
    row-gap: 20%;
}
  @media (max-width:1200px) {
    :root {
     --nummberOfRepeatCards: 3;
   }}
  @media (max-width:800px) {
    :root {
     --nummberOfRepeatCards: 2;
   }
   }@media (max-width: 400px) {
    :root {
     --nummberOfRepeatCards: 1;
   }
   }