:root{
--borderRediusForAllSelectBox:5px;
--marginforAllSelectBox:2%;
}
.DatePacker{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
}
select{
    width: 200px;
    border-radius: var(--borderRediusForAllSelectBox);
    text-align: center;
    margin: var(--marginforAllSelectBox);
    cursor: pointer;
}
