:root {
  --primeryColor: black;
  --logoWidth: 100px;
  --logoHeight: 100px;
}
.kgLogo {
  display: grid;

  justify-content: center;
}
.formGroup {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5%;
  justify-content: center;
  margin-top: 10px;
}
img {
  width: var(--logoWidth);
  height: var(--logoHeight);
}
