:root {
  --onHoverColor: silver;
  --borderTableColor: black;
}
.buttonStudentName {
  border: var(--borderTableColor) solid 1px;
  cursor: pointer;
  text-align: start;
}
.buttonStudentName:hover {
  background-color: var(--onHoverColor);
}

.tds {
  border: var(--borderTableColor) solid 1px;
}
.SelectButton {
  margin-top: 4%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.form-select {
  width: 300px;
  justify-self: center;
}
.form-select {
  width: 300px;
  justify-self: center;
}
.form-select:hover {
  background-color: var(--onHoverColor);
}
.excelB {
  border: var(--borderTableColor) solid 1px;
  width: fit-content;
  height: fit-content;
  justify-self: right;
  margin-right: 3%;
}
.excelB:hover {
  background-color: var(--onHoverColor);
}
.modalBodyDesign {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin-top: 2%;
  justify-content: center;
}
.modalBodyDesign input {
  margin-bottom: 2%;
}
.date {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.date input {
  min-width: 20px;
}
